html {
	margin-top: -21px;
}

body {
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-color: #1D8DC2;
	font-family: sans-serif;
}

#barra {
	width: 100%;
	height: auto;
	background-color: #026AA7;
	margin: 0 auto;
}

#barra h1 {
	text-align: center;
	color: white;
}

.box h3 {
	color: white;
	margin-left: 20px;
}

#tablero {
	width: 250px;
	height: auto;
	background-color: #157CAC;		
	margin-left: 50px;	
	border-radius: 5px;
	color: #7FD3E5;
	padding: 10px;
	margin: 20px;
	font-size: 14px;
}

#tablero:hover {
	background-color: #026AA7;
	cursor: pointer;
}

#nuevo {
	width: 250px;
	height: auto;
	background-color: #E5E6E9;		
	margin-left: 50px;	
	border-radius: 5px;
  padding: 6px;
	margin: 20px;
}

#inpt {
	width: 246px;
	height: 30px;
	background-color: #DBDCDF;
	border:  1px solid gray;
	border-radius:4px;
}

#btn {
	margin: 5px 0;
	border: none;
	padding: 6px 20px;
	background-color: #72BC5E;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

#btn:hover {
	opacity: 0.5;
	cursor: pointer;
}

#contenedorNombreLista {
	width: 250px;
	height: auto;
	background-color: #E5E6E9;		
	margin-left: 50px;	
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
	font-size: 14px;
}

#contenedorNombreLista strong {
	display: block;
	margin: 5px;
	margin-bottom: 20px;
}

#contenedorNombreLista a {
	text-decoration: none;
	margin: 5px;
	color: gray;
}

#contenedorNombreLista a:hover {
	text-decoration: underline;
	color: #8C8C8C;
}