html {
	margin-top: -21px;
}

body {
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-color: #1D8DC2;
	font-family: sans-serif;
}

#barra {
	width: 100%;
	height: auto;
	background-color: #026AA7;
	margin: 0 auto;
}

#barra h1 {
	text-align: center;
	color: white;
}

.box h2 {
	color: white;
	margin-left: 50px;
	margin-top: 50px;
}

#tablero {
	width: 200px;
	height: auto;
	background-color: #157CAC;		
	margin-left: 50px;
	float: left;	
	border-radius: 5px;
	color: white;
	padding: 20px;
	margin: 20px;
}

#tablero:hover {
	background-color: #026AA7;
	cursor: pointer;
}

#tablero p {
	
}
