html {
	margin-top: -21px;
}

body {
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-color: #1D8DC2;
	font-family: sans-serif;
}

#barra {
	width: 100%;
	height: auto;
	background-color: #026AA7;
	margin: 0 auto;
}

#barra h1 {
	text-align: center;
	color: white;
}

.box h2 {
	color: white;
	margin-left: 50px;
	margin-top: 50px;
}

#tablero {
	width: 200px;
	height: auto;
	background-color: #157CAC;		
	margin-left: 50px;	
	border-radius: 5px;
	color: white;
	padding: 20px;
	margin: 20px;
}

#tablero:hover {
	background-color: #026AA7;
	cursor: pointer;
}

.nuevo {
	width: 200px;
	height: auto;
	background-color: #157CAC;		
	margin-left: 50px;	
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
}

.inpt {
	width: 190px;
	height: 40px;
}

.btn {
	margin: 10px 0;
	border: none;
	padding: 10px;
	background-color: #72BC5E;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.btn:hover {
	opacity: 0.5;
	cursor: pointer;
}